<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="login.html" class="glyphicon glyphicon-user">Log in</a></li>
			<li><a href="createuser.html" class="glyphicon glyphicon-log-in">Create user</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<h1>My first application (mvc, spring boot, thymeleaf, jpa)</h1>
</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>